<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/searchResults.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="main-container">
      <nav class="nav-bar">
        <div>Grocery Store</div>
        <ul>
          <li><a href="/">Dashboard</a></li>
          <li id="products-menu">
            Products
            <ul id="products-list" class="hidden">
              <% if (products.length > 0) { %> <%
              products.forEach(function(product) { %>
              <li><%= product.name %></li>
              <% }) %> <% } else { %>
              <li>No products available.</li>
              <% } %>
            </ul>
          </li>
          <li>Categories</li>
          <li>Suppliers</li>
        </ul>
      </nav>

      <main class="dashboard">
        <div class="controls">
          <div class="search-container">
            <form action="/search/search-all" method="GET">
              <input
                type="search"
                name="searchQuery"
                id="searchQuery"
                placeholder="Search"
              />
              <button type="submit">Search</button>
            </form>
          </div>
          <div class="actions">
            <div class="add-product">
              <a href="/products/add-product">Add product</a>
            </div>
            <div class="add-product">
              <a href="/categories/add-category">Add Category</a>
            </div>
            <div class="add-product">
              <a href="/suppliers/add-supplier">Add supplier</a>
            </div>
          </div>
        </div>

        <div class="search-results">
          <% if (products.length > 0) { %>
          <h2>Products:</h2>
          <ul>
            <% products.forEach(product => { %>
            <li><%= product.name %> - <%= product.description %></li>
            <% }) %>
          </ul>
          <% } else { %>
          <p>No products found.</p>
          <% } %> <% if (categories.length > 0) { %>
          <h2>Categories:</h2>
          <ul>
            <% categories.forEach(category => { %>
            <li><%= category.category_name %></li>
            <% }) %>
          </ul>
          <% } else { %>
          <p>No categories found.</p>
          <% } %>
        </div>
      </main>
    </div>

    <script>
      document
        .getElementById('products-menu')
        .addEventListener('click', function () {
          const productsList = document.getElementById('products-list');
          if (productsList.classList.contains('hidden')) {
            productsList.classList.remove('hidden');
          } else {
            productsList.classList.add('hidden');
          }
        });
    </script>
  </body>
</html>
