<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/formStyles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <form action="/products/update-product/:id" method="POST">
      <label for="name">Product Name:</label>
      <input
        type="text"
        name="name"
        id="name"
        required
        value="<%= product.name %>"
      />
      <br />

      <label for="description">Description:</label>
      <textarea name="description" id="description" rows="4" required>
<%= product.description %></textarea
      >
      <br />

      <label for="price">Price:</label>
      <input
        type="number"
        name="price"
        id="price"
        step="0.01"
        required
        value="<%= product.price %>"
      />
      <br />

      <label for="quantity">Quantity:</label>
      <input
        type="number"
        name="quantity"
        id="quantity"
        required
        value="<%= product.quantity %>"
      />
      <br />

      <label for="categoryId">Category ID:</label>
      <input
        type="number"
        name="categoryId"
        id="categoryId"
        required
        value="<%= product.category_id %>"
      />
      <br />

      <label for="supplierId">Supplier ID:</label>
      <input
        type="number"
        name="supplierId"
        id="supplierId"
        required
        value="<%= product.supplier_id %>"
      />
      <br />

      <label for="product_id">Product ID:</label>
      <input
        type="number"
        name="product_id"
        id="product_id"
        value="<%= product.product_id %>"
        required
      />
      <br />

      <button type="submit">Update Product</button>
    </form>
  </body>
</html>
